<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/default}">
<head>
  <title>Home</title>
  <link th:href="@{/css/blog.css}" rel="stylesheet" />
</head>
<body>
    <div layout:fragment="content">
    	<div class="row">
    		<div class="col-md-8 blog-main">
    			<div class="alert alert-primary" role="alert" th:if="${!#strings.isEmpty(message)}" th:text="#{${message}}">message</div>
    			<div class="blog-post" th:each="comment : ${comments}">
			        <p class="blog-post-meta"><span th:text="${#temporals.format(comment.createdDate, 'MMM dd, yyyy')}">December 14, 2013</span> by #<em th:text="${comment.member.username}">Chris</em> <a th:href="@{/comment/remove/{id}(id=${comment.id})}" th:if="${#authentication.principal eq comment.member.username}">Remove</a></p>
			        <p th:utext="${#strings.replace(#strings.escapeXml(comment.contents), T(org.apache.commons.lang3.StringUtils).LF, '&lt;br /&gt;')}">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			        <hr />
			    </div><!-- /.blog-post -->
			    
			    <nav class="blog-pagination">
			      <a th:class="${comments.first ? 'btn btn-outline-secondary disabled' : 'btn btn-outline-secondary'}" th:href="@{/(page=${comments.number-1})}">Newer</a>
			      <a th:class="${comments.last ? 'btn btn-outline-primary disabled' : 'btn btn-outline-primary'}" th:href="@{/(page=${comments.number+1})}">Older</a>
			    </nav>
    		</div>
    		<div class="col-md-4">
    			<div class="modal" tabindex="-1" role="dialog" style="display:block; position:sticky;" sec:authorize="not isAuthenticated()">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="writeModalLabel">Write</h5>
				      </div>
				      <div class="modal-body">
				      	<div class="form-group">
				          <label for="contents">Contents</label>
				          <textarea class="form-control" id="contents" rows="3" placeholder="로그인을 해주세요." disabled="disabled"></textarea>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <a class="btn btn-outline-info btn-block" th:href="@{/login}">Login</a>
				      </div>
				    </div>
				  </div>
				</div>
    			<div class="modal" tabindex="-1" role="dialog" style="display:block; position:sticky;" sec:authorize="isAuthenticated()">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				    <form th:action="@{/comment/write}" th:object="${commentCommand}" th:method="post">
				      <div class="modal-header">
				        <h5 class="modal-title" id="writeModalLabel">Write</h5>
				      </div>
				      <div class="modal-body">
				        <div class="form-group">
				          <label for="contents">Contents</label>
				          <textarea class="form-control" th:field="*{contents}" rows="3" th:errorclass="is-invalid" placeholder="100자 이내로 입력해주세요."></textarea>
				          <div class="invalid-feedback" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">내용을 올바르게 입력해주세요.</div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="submit" class="btn btn-primary">Save changes</button>
				      </div>
				    </form>
				    </div>
				  </div>
				</div>
    		</div>
    	</div>
    </div>
</body>
</html>